<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro"/>
  <xacro:macro name="sensor_d405" params="parent *origin name:=camera use_nominal_extrinsics:=false add_plug:=false use_mesh:=false">
    <xacro:_rs_stub parent="${parent}" name="${name}" use_nominal_extrinsics="${use_nominal_extrinsics}" add_plug="${add_plug}" use_mesh="${use_mesh}">
      <xacro:insert_block name="origin"/>
    </xacro:_rs_stub>
  </xacro:macro>
</robot>
